{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saj Art Gallery</title>
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-reboot.css">   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href='/static/css/style.css'> 
    <link rel="stylesheet" href="/static/css/style2.css">
    <style>
        :root {
        --shadow: #fff7b1;
        --scrollbarBG: #eee;
        --thumbBG: #efffb7;
        }
        ::-webkit-scrollbar {
        width: 8px;
        height: 2px;
        }
        ::-webkit-scrollbar-track {
        background: var(--scrollbarBG);
        }
        ::-webkit-scrollbar-thumb {
        background-color: var(--thumbBG);
        box-shadow: 0 -100vh 0 100vh var(--shadow), 0 0 15px 5px black;

        }
        
    </style>
    <link rel="shortcut icon" href="/static/1.png" type="image/icon type">
</head>
<body> 
    <div id="modalOne" class="modal">
        <div class="modal-content">
          <div class="contact-form">
            <a class="close">&times;</a>
            <form action="#" method="post" name="booking">
                {% csrf_token %}
              <h2 class="h2 p-3" style="font-family: 'DynaPuff', cursive;text-align: center;">Make Up Slot Booking</h2>
              <div>
                <div class="row p-3 m-3">
                    <div class="col-4">
                        <label for="name" class="form-label ">Name : </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="text" name="name" placeholder="Full name" id="name"/>
                    </div>
                </div>
                <div class="row  p-3 m-3">
                    <div class="col-4">
                        <label for="email" class="form-label ">Email : </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="email" name="email" placeholder="Email"/>
                    </div>
                </div>
                <div class="row  p-3 m-3">
                    <div class="col-4">
                        <label for="Phone" class="form-label ">Phone : </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="tel" name="phone" placeholder="Phone number"/>
                    </div>
                </div>
                <div class="row  p-3 m-3">
                    <div class="col-4">
                        <label for="Phone" class="form-label ">Your Date : </label>
                    </div>
                    <div class="col-8">
                        <input class="form-control" type="date" name="date" placeholder="Date"/>
                    </div>
                </div>
              </div>
              <div class="p-2 d-flex justify-content-center">
                <input type="submit" class="btn btn-primary btn-lg"  id="submit"  href="/">
              </div>
            </form>
          </div>
        </div>
      </div>
    <section>
        <div class="container-fluid shadow-box p-3">
            <div id="mySidenav" class="sidenav center-bold"
            style="font-weight: bold; text-align:center">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a href="{% url 'home' %}">Home</a>
                <a href="{% url 'artgallery' %}">Art Gallry</a>
                <a href="{% url 'bridalgallery' %}">Bridal Gallry</a>
                <a href="{% url 'partylookgallery' %}">Party Look Gallry</a>
                <a href="{% url 'mahndigallery' %}">Mehndi Gallry</a>
                <a class="button" data-modal="modalOne">Slot Booking</a>
            </div>
            
            <div class="row">   
                <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                    <h1 class="h1 let"><span class="art" style="color: rgb(57, 3, 118);">B</span>
                        <span class="art" class="art" style="color: rgb(1, 1, 112);">A</span>
                        <span class="art" style="color: rgb(6, 217, 217);">R</span>
                        <span class="art" style="color: rgb(4, 98, 4);">N</span>
                        <span class="art" style="color: rgb(237, 237, 75);">A</span>
                        <span class="art" style="color: rgb(255, 69, 2);">L</span>
                        <span class="art" style="color: rgb(226, 7, 7);">I</span>'s      Party Look Gallery
                    </h1>
                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <div class="btn float-end">
                        <button class=" btn btn-outline-light btn-lg btn-my" onclick="openNav()"><i class="bi bi-list"></i> Menu</button> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="p-5">
        <div class="container">
            <table class="table table-border table-hover">
                <tbody>
                    {% for i in Data %}
                    <tr class="" data-aos="zoom-in">
                        {% for j in i %}
                        <td class="align-middle m-xl-5 m-lg-5 m-md-5 m-sm-2  m-2 p-xl-5 p-lg-5 p-md-5 p-sm-2 p-2  borderimg border border-primary">
                            <img src="/media/{{j}}" alt="Not_found" class="borderimg img-fluid" >
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <footer id="bottom" class="container-fluid contact">
        <div class="container p-0 p-sm-0 p-md-3 p-lg-3 p-xl-3">
            <div class="d-flex justify-content-center mt-5 pt-4">
                <h1 class="h1">Contact Us</h1>
            </div>
            <div class="d-flex justify-content-center container">
                <div class="row">
                <div class="col-2">
                    <a class="nav m-3 p-3" href="#"><h2><i class="bi bi-envelope-fill"></i></h2></a>
                </div>
                <div class="col-2">
                    <a class="nav m-3 p-3" href="#"><h2><i class="bi bi-facebook"></i></h2></a>
                </div>
                <div class="col-2">
                    <a class="nav m-3 p-3" href="#"><h2><i class="bi bi-instagram"></i></h2></a>
                </div>
                <div class="col-2">
                    <a class="nav m-3 p-3" href="#"><h2><i class="bi bi-whatsapp"></i></h2></a>
                </div>
                <div class="col-2">
                    <a class="nav m-3 p-3" href="#"><h2><i class="bi bi-twitter"></i></h2></a>
                </div>
                <div class="col-2">
                    <a class="nav m-3 p-3" href="#"><h2><i class="bi bi-telegram"></i></h2></a>
                </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html><script src="../static/js/bootstrap.bundle.js"></script>
<script src="../static/js/bootstrap.js"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="/static/js/code.js"></script>
<script src="{% static 'js/code2.js' %}"></script>
<script>
  AOS.init();
</script>
<script>
    let modalBtns = [...document.querySelectorAll(".button")];
    modalBtns.forEach(function (btn) {
      btn.onclick = function () {
        let modal = btn.getAttribute("data-modal");
        document.getElementById(modal).style.display = "block";
      };
    });
    let closeBtns = [...document.querySelectorAll(".close")];
    closeBtns.forEach(function (btn) {
      btn.onclick = function () {
        let modal = btn.closest(".modal");
        modal.style.display = "none";
      };
    });
    window.onclick = function (event) {
      if (event.target.className === "modal") {
        event.target.style.display = "none";
      }
    };
</script>
